body {
  background-color: #0e9d57;
}

.posts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* so that posts don't overflow */
}

.post-container {
  background: #e2e8d5;
  display: flex;
  flex-direction: column;
  padding: 3%;
  margin: 20px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.heading {
  height: 126px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  height: 210px;
  object-fit: cover;
}
